{% extends 'basic.html' %}

{% block head %}
<title>
  {% block title %}
    EVFORYOU - Электромобили
  {% endblock %}
</title>
<meta name="description" content="Evforyou — электромобили премиум класса, запчасти для электрокаров, автомобильные аукционы США">
{% endblock %}

{% load staticfiles %}

{% block content %}

    <div class="header_block" style="">
      <img src="{% static "img/logo_new.png" %}" class="logo_new" alt="">
      <div class="header_menu">
        <div class="menu_item">
          <a href="/" class="fancy_link font_pfespm red_text"><span class="">ГЛАВНАЯ</span></a>
        </div>
        <div class="menu_item">
          <a href="/instock/1" class="fancy_link font_pfespm"><span class="">НАЛИЧИЕ</span></a>
        </div>
        <div class="menu_item">
          <a href="/contacts" class="fancy_link font_pfespm"><span class="">КОНТАКТЫ</span></a>
        </div>
      </div>
      <div class="center_items text-center">
        <span class="font_pfespb text-white header">ЗА РУЛЕМ <span class="red_text">БУДУЩЕГО</span></span>
        <p class="text-white font_myriadpro">Новые автомобили - Новое мышление - Новые возможности</p>
        <button class="header_button" onClick="document.getElementById('wannabe_first').scrollIntoView();"><span class="font_myriadpro">Хочу узнать подробнее</span></button>
      </div>
    </div>

<!--      Wannabe_first-->

      <div class="wannabe_first light_grey" id="wannabe_first">
          <div class="wannabe_first_header text-center">
            <h3 class="font_pfespl">ХОЧЕШЬ БЫТЬ <SPAN class="light_red">ПЕРВЫМ</SPAN></h3>
              <div class="mx-auto">
                <p class="font_pfespl">
                    Мы не продаем "красивые картинки" - у нас вы можете "вживую" познакомиться со всем модельным рядом электромобилей, а также совершить тест-драйв
                </p>
              </div>
          </div>
          <div class="wannabe_first_testdrive text-center">
            <span class="font_pfespl" style="font-size: 24px; line-height: 1">ВЫБЕРИ АВТО ДЛЯ</span>
            <span class="br"></span>
            <span class="light_red font_pfespm" style="font-size:36px; line-height: 1">ТЕСТ ДРАЙВА</span>
              <div class="my-5">
                <div class="row mb-3 mx-0 px-0">
                    <div class="col"></div>
                    <div class="col testdrive_switch opacity07" onclick="testdrive_switcher(this, '1')"><img class="img-fluid" src="{% static "img/testdrive1_small.png" %}"></div>
                    <div class="col testdrive_switch opacity07" onclick="testdrive_switcher(this, '2')"><img class="img-fluid" src="{% static "img/testdrive2_small.png" %}"></div>
                    <div class="col testdrive_switch opacity07" onclick="testdrive_switcher(this, '3')"><img class="img-fluid" src="{% static "img/testdrive3_small.png" %}"></div>
                    <div class="col testdrive_switch opacity07" onclick="testdrive_switcher(this, '4')"><img class="img-fluid" src="{% static "img/testdrive4_small.png" %}"></div>
                    <div class="col"></div>
                </div>
                  
                  <div class="testdrive_wrapper" data-car_id="1">
                  <div class="row mx-0 px-0">
                    <div class="col-2"></div>
                      <div class="col-4"><img class="img-fluid" src="{% static "img/testdrive1.png" %}"></div>
                      <div class="col-4 text-left">
                        <span class="font_pfespl text-uppercase" style="font-size: 25px;">Tesla Model 3 2018</span>
                                                    <br>
                        <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Класс: <span class="light_red">Седан</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Пробег: <span class="light_red">6 тыс. км</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Двигатель: <span class="light_red">Электро (283 л.с. / 211 кВт) </span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Привод: <span class="light_red">Задний</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Разгон до 100км: <span class="light_red">5,8 с.</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Максимальная скорость: <span class="light_red">210 км/ч</span></span>
                                                    <br>
                          <button class="test_drive_detail mt-3 font_pfespl" onclick="window.location.href = 'instock/3';">Подробнее</button>
                      </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="testdrive_veh_test my-4 mx-auto font_pfespl" style="font-size: 19px">
                         Tesla Model 3 построен на новой платформе, которая в корне отличается от Model S и Model X. Данный автомобиль призван стать первым массовым электромобилем от Tesla Inc. Безопасность является наиболее важной конструктивной особенностью модели 3. Ее металлическая структура представляет собой сочетание алюминия и стали, что гарантирует максимальную прочность. В испытании на деформацию крыши Модель 3 выдержала в четыре раза большую массу, даже с большой стеклянной крышей: эквивалентно весу двух взрослых африканских слонов.
                  </div>
                  <div class="my-4">
                    <button class="goto_catalogue1" onclick="window.location.href = 'instock/1';">Перейти в каталог</button>
                  </div>
                </div>
                  <div class="testdrive_wrapper" data-car_id="2">
                  <div class="row mx-0 px-0">
                    <div class="col-2"></div>
                      <div class="col-4"><img class="img-fluid" src="{% static "img/testdrive2.png" %}"></div>
                      <div class="col-4 text-left">
                        <span class="font_pfespl text-uppercase" style="font-size: 25px;">Tesla Model S 2019</span>
                                                    <br>
                        <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Класс: <span class="light_red">Лифтбек</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Пробег: <span class="light_red">2 тыс. км</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Двигатель: <span class="light_red">Электро (785 л.с. / 677 кВт) </span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Привод: <span class="light_red">Полный</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Разгон до 100км: <span class="light_red">2,7 с.</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Максимальная скорость: <span class="light_red">250 км/ч</span></span>
                                                    <br>
                          <button class="test_drive_detail mt-3 font_pfespl" onclick="window.location.href = 'instock/4';">Подробнее</button>
                      </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="testdrive_veh_test my-4 mx-auto font_pfespl" style="font-size: 19px">
Model S спроектирована с нуля, чтобы быть самым безопасным и, в то же время, самым резвым седаном на дороге. C беспрецедентной производительностью двигателей, которая передаётся через уникальную, полностью электрическую трансмиссию Tesla, Model S разгоняется от 0 до 100 км/ч всего за 2,7 секунды. Модель S поставляется со встроенной функцией автопилота, чтобы сделать ваше вождение более безопасным и менее утомительным.
                  </div>
                  <div class="my-4">
                    <button class="goto_catalogue1" onclick="window.location.href = 'instock/1';">Перейти в каталог</button>
                  </div>
                </div>
                  <div class="testdrive_wrapper" data-car_id="3">
                  <div class="row mx-0 px-0">
                    <div class="col-2"></div>
                      <div class="col-4"><img class="img-fluid" src="{% static "img/testdrive3.png" %}"></div>
                      <div class="col-4 text-left">
                        <span class="font_pfespl text-uppercase" style="font-size: 25px;">Tesla Model S 90D 2016</span>
                                                    <br>
                        <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Класс: <span class="light_red">Лифтбек</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Пробег: <span class="light_red">2 тыс. км</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Двигатель: <span class="light_red">Электро (518 л.с. / 386 кВт) </span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Привод: <span class="light_red">Полный</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Разгон до 100км: <span class="light_red">4,4 с.</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Максимальная скорость: <span class="light_red">250 км/ч</span></span>
                                                    <br>
                          <button class="test_drive_detail mt-3 font_pfespl" onclick="window.location.href = 'instock/5';">Подробнее</button>
                      </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="testdrive_veh_test my-4 mx-auto font_pfespl" style="font-size: 19px">
Model S спроектирована с нуля, чтобы быть самым безопасным и, в то же время, самым резвым седаном на дороге. C беспрецедентной производительностью двигателей, которая передаётся через уникальную, полностью электрическую трансмиссию Tesla, Model S разгоняется от 0 до 100 км/ч всего за 2,7 секунды. Модель S поставляется со встроенной функцией автопилота, чтобы сделать ваше вождение более безопасным и менее утомительным.
                  </div>
                  <div class="my-4">
                    <button class="goto_catalogue1" onclick="window.location.href = 'instock/1';">Перейти в каталог</button>
                  </div>
                </div>
                  <div class="testdrive_wrapper" data-car_id="4">
                  <div class="row mx-0 px-0">
                    <div class="col-2"></div>
                      <div class="col-4"><img class="img-fluid" src="{% static "img/testdrive4.png" %}"></div>
                      <div class="col-4 text-left">
                        <span class="font_pfespl text-uppercase" style="font-size: 25px;">Tesla Model X 2018</span>
                                                    <br>
                        <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Класс: <span class="light_red">Внедорожник / Кроссовер</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Пробег: <span class="light_red">6 тыс. км</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Двигатель: <span class="light_red">Электро (518 л.с. / 525 кВт) </span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Привод: <span class="light_red">Полный (4WD)</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Разгон до 100км: <span class="light_red">5 с.</span></span>
                                                    <br>
                          <span class="font_pfespl" style="font-size: 20px; line-height: 1.4">Максимальная скорость: <span class="light_red">250 км/ч</span></span>
                                                    <br>
                          <button class="test_drive_detail mt-3 font_pfespl" onclick="window.location.href = 'instock/1';">Подробнее</button>
                      </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="testdrive_veh_test my-4 mx-auto font_pfespl" style="font-size: 19px">
                        Model X является самым безопасным, быстрым и наиболее продвинутым SUV (Sport Utility Vehicle) в истории. С полным приводом и 100 кВт/ч батареей, обеспечивающей 565 км пробега, Model X имеет широкие сидения для семи взрослых и их багажа. Model X разработан с безопасностью в качестве главного приоритета.
                        Напольный монтаж батареи понижает центр тяжести, так что риск опрокидывания в два раза ниже, чем у любого другого автомобиля в этом классе.
                  </div>
                  <div class="my-4">
                    <button class="goto_catalogue1" onclick="window.location.href = 'instock/1';">Перейти в каталог</button>
                  </div>
                </div>
              
              </div>
          </div>
      </div>

<!--      Cons-->

      <div class="cons_block light_grey">
          <div class="cons_block_header mx-auto  text-center">
               <span class="font_pfespm font-size-26">НАШИ <span class="light_red">ПРЕИМУЩЕСТВА</span></span>
          </div>

          <div class="cons_block_texts">
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">Мы <span class="light_red">знаем</span> об электромобилях - все!</span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">Отслеживаем все новости по данной тематике.</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">Посещаем презентации новых моделей, семинары и сервисные центры. </span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">Находимся в контакте, общаемся, обмениваемся опытом с зарубежными клубами любителей электромобилей и рядовыми владельцами по всему миру.</span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons_block3.jpg" %}">
                </div>
            </div>
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">Нами накоплен огромный <span class="light_red">опыт!</span></span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">Мы сами эксплуатируем электромобили каждый день на протяжении уже более четырех лет. За это время нами накоплен бесценный опыт эксплуатации и обслуживания электромобилей в условиях Украины.
</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">Мы поможем вам на всех стадиях: выбор автомобиля, покупка, доставка, постановка на учет, "зарядка электромобиля", ежедневная эксплуатация и обслуживание. </span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons2.jpg" %}">
                </div>
            </div>
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">мы <span class="light_red">лучший</span> оператор рынка электромобилей </span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Наша компания поможет Вам с покупкой, доставкой, уплатой таможенных платежей и постановкой на учет. 

</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Наши специалисты проконсультируют и помогут подобрать модель и модификацию для ваших целей и нужд. 

                                    </span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Мы осуществляем продажу электромобилей в наличии и под заказ. Работаем как с новыми машинами, так и с б/у.
                                    </span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons3.jpg" %}">
                </div>
            </div>
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">Подбор и доставка <span class="light_red">запчастей</span> из США</span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Техническое оснащение машин в Америке обойдется намного дешевле, нежели в Украине, тогда как многие запчасти к штатовским автомобилям делаются гораздо более качественными и имеют гораздо больший срок эксплуатации.

</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Доставляем автозапчасти из США большинства известных брендов

                                    </span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons4.jpg" %}">
                </div>
            </div>
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">Мы предлагаем <span class="light_red">Лучшее</span> за теже деньги!</span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Популярность электромобилей из Америки ежегодно растет. Украинские водители могут без дополнительных трат найти и привезти хороший лот прямиком со страхового аукциона. 
</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
До конца 2022 года ввезти автомобили с электромоторами можно без уплаты НДС и пошлин. Так что у покупателей есть уникальная возможность экономить семейный бюджет и приобрести достойную машину на каждый день.
                                    </span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons5.jpg" %}">
                </div>
            </div>
<!--              ----->
                <div class="row mx-0 px-0">
                <div class="col px-0 mx-0">
                    <div style="">
                    <div style="margin-left: 20%;">
                        <span class="text-uppercase font_pfespm font-size-22">электромобили имеют <span class="light_red">топ-комплектацию</span></span>
                        <br>
                            <ul class="cons_lists">
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Впечатляющая комплектация таких автомобилей часто выступает решающим фактором при покупке, ведь производители всегда стараются максимально укомплектовать свою продукцию.

</span>
                                </li>
                                <li>
                                    <span class="font_pfespl" style="font-size: 19px;">
Авто в большинстве случаев будет наделено гидроусилителем руля, кондиционером, сигнализацией, полным электропакетом, кожаным салоном и литыми дисками.

                                    </span>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="cons_fancy_line"></div>
                </div>
                <div class="col cons_block_img1">
                    <img class="test_img_polygon img-fluid" style="" src="{% static "img/cons6.jpg" %}">
                </div>
            </div>
<!--              ----->
          </div>
      </div>

<!--      Newcommers-->

      <div class="newcommers_block light_grey" id="newcommers_block">
        <div class="newcommers_header text-center mx-auto">
            <span class="font_pfespm text-uppercase main_heading_font">актуальные <span class="light_red">поступления</span></span>
        </div>
<!--          ----->
          <div class="row my-5 mx-0 px-0">
            <div class="col-2"></div>
              <div class="col-4"><img class="img-fluid" src="{% static "img/incommer_1.jpg" %}"></div>
              <div class="col-4">
                  <div class="incommer_text_head text-uppercase font_pfespl" style="font-size: 20px;">TESLA MODEL X 100D 2018</div>
                  <p class="font_pfespl pt-4" style="font-size: 19px;">
                    Пригнан из США. Первая регистрация!
Пробег 6 тыс. км, полный привод, цвет красный металлик, есть все, состояние нового автомобиля.  Гаражное  хранение, первый  владелец
                  </p>
                  <p class="font_pfespl" style="font-size: 19px;">Цена: <span class="light_red">87 000 $</span></p>
                  <button class="incomming_details font_pfespl" onclick="location.href='instock/1';">Подробнее</button>
              </div>
            <div class="col-2"></div>
          </div>
<!--          ----->
           <div class="row my-5 mx-0 px-0">
            <div class="col-2"></div>
              <div class="col-4"><img class="img-fluid" src="{% static "img/incommer_2.png" %}"></div>
              <div class="col-4">
                  <div class="incommer_text_head text-uppercase font_pfespl" style="font-size: 20px;">Tesla Model S 90D 2016</div>
                  <p class="font_pfespl pt-4" style="font-size: 19px;">
Продажа от собственника. Стоит на укр. регистрации. Пробег 62 тыс. км, полный привод, цвет синий металлик, Без ПНЕВМО. Зимний пакет( подогрев лобового, руля и всех сидений). Авто без ДТП.
                  </p>
                  <p class="font_pfespl" style="font-size: 19px;">Цена: <span class="light_red">46 000 $</span></p>
                  <button class="incomming_details font_pfespl" onclick="location.href='instock/5';">Подробнее</button>
              </div>
            <div class="col-2"></div>
          </div>
<!--          ----->
          <div class="row my-5 mx-0 px-0">
            <div class="col-2"></div>
              <div class="col-4"><img class="img-fluid" src="{% static "img/incommer_3.png" %}"></div>
              <div class="col-4">
                  <div class="incommer_text_head text-uppercase font_pfespl" style="font-size: 20px;">Tesla Model S 2019</div>
                  <p class="font_pfespl pt-4" style="font-size: 19px;">
Пригнан из США. Первая регистрация! 
Пробег 2,5 тыс. км, полный привод, цвет белый металлик, двигатель (785 л.с. / 577 кВт), есть все, машина в идеальном состоянии!
                  </p>
                  <p class="font_pfespl" style="font-size: 19px;">Цена: <span class="light_red">97 000 $</span></p>
                  <button class="incomming_details font_pfespl" onclick="location.href='instock/4';">Подробнее</button>
              </div>
            <div class="col-2"></div>
          </div>
<!--          ----->
            <div class="row my-5 mx-0 px-0">
            <div class="col-2"></div>
              <div class="col-4"><img class="img-fluid" src="{% static "img/incommer_4.png" %}"></div>
              <div class="col-4">
                  <div class="incommer_text_head text-uppercase font_pfespl" style="font-size: 20px;">Tesla Model 3 2018</div>
                  <p class="font_pfespl pt-4" style="font-size: 19px;">
Пригнан из США. Первая регистрация! 
Пробег 6 тыс. км, задний привод, цвет синий металлик, десятая прошивка, резина 2 комплекта, есть все, отличное состояние! 
                  </p>
                  <p class="font_pfespl" style="font-size: 19px;">Цена: <span class="light_red">38 000 $</span></p>
                  <button class="incomming_details font_pfespl" onclick="location.href='instock/3';">Подробнее</button>
              </div>
            <div class="col-2"></div>
          </div>
<!--          ----->
          <div class="row my-5 mx-0 px-0">
            <div class="col-2"></div>
              <div class="col-4"><img class="img-fluid" src="{% static "img/incommer_5.png" %}"></div>
              <div class="col-4">
                  <div class="incommer_text_head text-uppercase font_pfespl" style="font-size: 20px;">TESLA MODEL 3.18 LONG RANGE. RWD.</div>
                  <p class="font_pfespl pt-4" style="font-size: 19px;">
Пригнан из США. Первая регистрация! 
Пробег 21 тыс. км, задний привод, цвет красный металлик, есть все, отличное состояние! Гаражное  хранение, первый  владелец
                  </p>
                  <p class="font_pfespl" style="font-size: 19px;">Цена: <span class="light_red">35 000 $</span></p>
                  <button class="incomming_details font_pfespl" onclick="location.href='instock/2';">Подробнее</button>
              </div>
            <div class="col-2"></div>
          </div>
<!--          ----->
      </div>

<!--      Service-->

      <div class="service_block light_grey">
        <div class="service_block_header text-center mx-auto">
            <span class="text-uppercase font_pfespm main_heading_font"><span class="light_red">сервисное</span> обслуживание</span>
        </div>
        <div class="row mx-0 px-0 my-4">
            <div class="col-1"></div>
                <div class="col-5 py-5 px-0">
                    <p class="font_pfespl" style="font-size: 19px;">
                    Мы решаем любые вопросы связанные с обслуживанием электромобилей!
                    </p>
                    <p class="font_pfespl" style="font-size: 19px;">
                    Формат обслуживания и ремонта существенно отличается от процедур с обычными автомобилями.
                    </p>
                    <p class="font_pfespl" style="font-size: 19px;">
                    Концепция ремонта такого типа авто предусматривает упрощение многих процедур. Зачастую эти операции специалисты могут сделать дистанционно.
                    </p>
                    <p class="font_pfespl" style="font-size: 19px;">
                    Так же Вы можете заказать необходимые запчасти для Вашего электромобиля у нас
                    </p>
                    <div class="text-center">
                        <button class="service_block_details font_pfespl mx-auto">Подробнее</button>
                    </div>
                </div>
                <div class="col-5 px-0 mx-0"><img class="img-fluid" src="{% static "img/service_photo.jpg" %}"></div>
            <div class="col-1"></div>
        </div>
      </div>

<!--    Contacts form block-->

    <div class="contacts_form_block">
          <div class="contacts_form_header text-center mx-auto">
              <span class="text-uppercase font_pfespm" style="font-size: 26px;">Остались <span class="light_red">вопросы?</span></span>
          </div>
        <form class="my-4" id="main_contact_form">
            <div class="row mx-0 px-0">
                <div class="col-1"></div>
                <div class="col-3">
                    <input class="main_form_input" type="text" name="firstname" placeholder="Имя">
                    <input class="main_form_input" type="text" name="phone" required placeholder="Телефон">
                    <div style="position: relative; margin-top: 20px;">
                        <button class="main_form_send">Отправить</button>
                    </div>
                </div>
                <div class="col-3">
                    <input class="main_form_input" type="text" name="secondname" placeholder="Фамилия">
                    <input class="main_form_input" type="text" name="email" placeholder="Почта">
                </div>
                <div class="col-4">
                    <textarea class="main_form_input" rows="8" name="firstname" placeholder="Сообщение"></textarea>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>

<!--      contacts info block-->

      <div class="contacts_info_block light_grey" id="contacts_info">
        <div class="row mx-0 px-0">
            <div class="col-1"></div>
                <div class="col-5">
                    <img class="img-fluid" style="filter: brightness(1.4) contrast(1.1)" src="{% static "img/tesla_car_map.png" %}">
                </div>
                <div class="col-5">
                    <div class="font_pfespl pl-5" style="font-size: 19px">
                        <p>
                            <span style="line-height: 1;">+38 (067) 821 77 77</span>
                            
                        </p>
                        <p>
                            <span>evforyou.com@gmail.com</span>
                        </p>
                        <p>
                            <span style="line-height: 1;">Запорожское ш., 59, Днипро, </span>
                            <br>
                            <span style="line-height: 1;">Днепропетровская область </span>
                        </p>
                        <p>
                            <i class="fab fa-facebook-square d-inline light_grey" style="font-size: 30px;"></i>
                            <i class="fab fa-instagram d-inline light_grey" style="font-size: 30px;"></i>
                        </p>
                    </div>
                </div>
            <div class="col-1"></div>
        </div>
      </div>

<!--      map-->

      <div class="map_block">
        <img class="img-fluid" style="margin-top: -60px;" src="{% static "img/map.png" %}">
      </div>


      <div class="footer">
          <div class="footer_card">
            <div class="pt-3 px-4 font_pfespl light_grey">
                <img class="img-fluid" src="{% static "img/logo_new_dark.png" %}">
                <p class="pt-3 my-0" style="font-size: 14px;">
                    “Мы осуществляем продажу электромобилей в наличии и под заказ как новых, так и бывших в употреблении.”
                </p>
                <p class="my-0">
<!--                    <i class="fas fa-calendar-alt"></i>-->
                    <i class="fas fa-calendar-alt d-inline pr-2 light_red" style="font-size: 40px"></i>
                    <span style="font-size: 16px; text-align: middle">Режим работы</span>
                </p>
                <p class="my-0">
                    <span style="font-size: 19px; line-height: 1;"><span class="light_red">пн-пт </span> 8:00 - 18:00</span>
                    <br>
                    <span style="font-size: 19px; line-height: 1;"><span class="light_red">сб-вс </span> 9:00 - 16:00</span>
                </p>
                <p class="my-0">
                    <span class="light_red" style="font-size: 15px">без перерыва и выходных</span>
                </p>
            </div>
          </div>
        <span class="font_pfespm text-white copyright_footer">© 2020 EVforyou. All Rights Reserved.</span>
      </div>

{% endblock %}
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </body>
</html> -->
